<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Utilizamos property binding para vincular nuestro form
      creado en el component.ts a este formulario  -->
      <form 
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()">
        <!-- Vinculamos un grupo de controles al establecido
          en el ts usando property binding con formGroupName -->
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <!-- Vinculamos cada control a cada uno de los establecidos
            en el ts usando property binding con formControlName -->
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
              <i
                *ngIf="!signupForm.get('userData.username')?.valid && signupForm.get('userData.username')?.touched">
                <span *ngIf="signupForm.get('userData.username')?.errors!['nameIsForbidden']">This name is invalid</span>
                <span *ngIf="signupForm.get('userData.username')?.errors!['required']">This field is required</span>
              </i>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <i
                *ngIf="!signupForm.get('userData.email')?.valid && signupForm.get('userData.email')?.touched">
                Please enter a valid email
              </i>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <!-- Vinculamos este array de controles al array establecido
            en el ts usando property binding con formArrayName -->
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <!-- Al hacer click en Add Hobby, llamamos a onAddHobby que 
          añade un nuevo control al array de controles que creamos en
          el ts, dentro del JSON -->
          <button 
            class="btn btn-success" 
            type="button"
            (click)="onAddHobby()">Add Hobby</button>
            <!-- Recorremos el array de hobbies para mostrar un input
            para cada uno. Para esto necesitamos la función get 'controls'
            que devuelve el array de controles del FormArray -->
            <div 
              class="form-group"
              *ngFor="let hobbyControl of arrayControls; let i = index">
              <!-- Utilizamos property binding para asignar el nombre
              de cada input, que será igual al índice del array al que
              pertenecen -->
              <input 
                type="text" 
                class="form-control" 
                [formControlName]="i">
            </div>
        </div>
        <i
          *ngIf="!signupForm.valid && signupForm.touched">
          Please enter valid data
        </i>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
